@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background-color: #fff;
  }

  input[type='submit']:hover {
    background: #666;
    color: #ccc;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background-color: #000;
  }

  input[type='submit']:hover {
    background: #999;
    color: #333;
  }
}

body {
  font-family: system-ui, sans-serif;
  font-weight: normal;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

label {
  width: 28rem;
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  width: 28rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
}

input[type='submit']:hover {
  cursor: pointer;
}

#shuffled {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;  
}

#shuffled .letter {
  width: 5rem;
}

#solution input {
  width: 1rem;
  margin-right: 0.1rem;
}

span.hyphen, span.space {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.2rem;
}
