body {
  font-family: system-ui, sans-serif;
  font-weight: normal;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

label {
  width: 28rem;
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  width: 28rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
}

input[type='submit']:hover {
  background: #333;
  color: #ccc;
  cursor: pointer;
}

#solution input {
  width: 1rem;
  margin-right: 0.1rem;
}

span.hyphen, span.space {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.2rem;
}
